<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLtoSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XMLtoSQL.Properties.Settings.СтрокаСоединенияСSQL"
            connectionString="Data Source=DESKTOP-17UB0HN\SQLEXPRESS;Initial Catalog=RestrictedFIAS;Persist Security Info=True;User ID=sa;Password=superadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <XMLtoSQL.Properties.Settings>
            <setting name="Объекты" serializeAs="String">
                <value>F:\Browser\fias_xml\AS_ADDROBJ_20171214_4af453b1-c874-4a55-935d-91aa70546984.XML</value>
            </setting>
            <setting name="Дома" serializeAs="String">
                <value>F:\Browser\fias_xml\AS_HOUSE_20171214_ad9f8dea-850f-4f70-9f54-1e05d9ecde76.XML</value>
            </setting>
        </XMLtoSQL.Properties.Settings>
    </applicationSettings>
</configuration>