<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XMLtoSQL.Properties.Settings.Параметр" connectionString="Data Source=DESKTOP-17UB0HN\SQLEXPRESS;Initial Catalog=RestrictedFIAS;Persist Security Info=True;User ID=sa;Password=superadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>